dlive:
  # mix rack ip
  ip: 192.168.1.70

  # uses unencrypted traffic over port 51325 if 'use_auth' is disabled and
  # TLS/SSL over port 51327 if enabled
  use_auth: false
  user_profile: 0x00
  user_password: ''

  # see lower number of range selected in Utility/Control/MIDI (default: 12)
  midi_bank_offset: 12

ui:
  streamdeck_devices:
    # device serials
    system: 'AL47J2C09831'
    input: 'CL15K1A02081'
    output: 'CL50K2A03473'

  # comma separated list of color, that determine how colored groups are
  # displayed on the left/right streamdeck; available colors:
  # [BLUE, LIGHT_BLUE, YELLOW, RED, GREEN, PURPLE, WHITE, BLACK]
  color_listing:
    input:  BLUE, LIGHT_BLUE, YELLOW, RED, GREEN, PURPLE
    output: RED, PURPLE, GREEN, YELLOW

control:
  tracking:
    # input channels
    number_of_inputs: 96
    talk_to_monitor: 65
    talk_to_stage: 66

    # aux channels
    number_of_mono_aux: 6
    mono_aux_start: 1
    number_of_stereo_aux: 4

    # external fx channels (via aux)
    number_of_external_fx: 8
    external_fx_start: 7

    # fx channels
    number_of_mono_fx: 8
    number_of_stereo_fx: 1

    # first of 16 virtual input channels
    virtual_start: 101

    # feedback matrix channel
    feedback_matrix: 1

  scenes:
    # mixing bank 1..6
    mixing_start: 451

    # virtual channel banks 1..6 left and (single one) right
    virtual_left_start: 441
    virtual_right: 447

    # sends on fader/s-dca
    sends: 448

    # custom scenes
    custom_aux: 461
    custom_fx: 462
    custom_util: 463
