dlive:
  # mix rack ip
  ip: 192.168.1.70

  # uses unencrypted traffic over port 51325 if 'use_auth' is disabled and
  # TLS/SSL over port 51327 if enabled
  use_auth: false
  user_profile: 0x00
  user_password: ''

  # see lower number of range selected in Utility/Control/MIDI (default: 12)
  midi_bank_offset: 12

streamdeck:
    devices:
      # device serials
      system: 'AL47J2C09831'
      input: 'CL15K1A02081'
      output: 'CL15K1A02084'

control:
  tracking:
    # number of inputs/aux busses/fx returns to track
    number_of_inputs: 96
    number_of_mono_aux: 5
    number_of_stereo_aux: 0
    number_of_mono_fx: 8
    number_of_stereo_fx: 0
    number_of_fx_returns: 8

    # first of 16 virtual input channels
    virtual_start: 101

    # first input for output bank 6 (must be < number of inputs)
    last_output_bank_start: 65

    # feedback matrix channel
    feedback_matrix: 1

    # talkback channels (must be < number of inputs)
    talk_to_monitor: 65
    talk_to_stage: 66

  scenes:
    # mixing bank 1..6
    mixing_start: 451

    # virtual channel banks 1..6 left and (single one) right
    virtual_left_start: 441
    virtual_right: 447

    # sends on fader/s-dca
    sends: 448

    # custom scenes
    custom_aux: 461
    custom_fx: 462
    custom_util: 463
