[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-rtmidi = "*"
PyYAML = "*"
streamdeck = "*"
pillow = "*"
wheel = "*"
apscheduler = "*"
mido = {editable = true, ref = "dlive-fixes", git = "https://github.com/m-vo/mido.git"}
tabulate = "*"
dearpygui = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
cs = "bash ./cs.sh"
tests = "python -m unittest discover ./test"
