[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-rtmidi = "1.5.8"
PyYAML = "*"
streamdeck = "0.9"
pillow = "9.1"
wheel = "*"
apscheduler = "3.9"
mido = {editable = true, ref = "dlive-fixes-1.3.3", git = "https://github.com/m-vo/mido.git"}
tabulate = "*"
dearpygui = "1.5"
pywin32 = {version = "*", markers = "sys_platform == 'win32'"}

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
cs = "bash ./cs.sh"
tests = "python -m unittest discover ./test"
